/*

OBOS Merkevarehåndbok

*/

// ------------------------------------
// Functional use of colors
// ------------------------------------

$color__primary: #2779C5;
$color__secondary: $color__primary;
$color__secondary--light: #ff9894;
$color__black: #333;
$color__white: #fff;
$color__gray: #ccc;
$color__gray--light: #ddd;
$color__gray--dark: #AAA;
$color__gray-text: #777;

// ------------------------------------
// Spacing
// ------------------------------------

$spacing: 1rem;
$spacing--small: .5rem;
$spacing--large: 1.8rem;
$spacing--xlarge: 3.6rem;

$page-width: 37rem;
$page-width--wide: 65rem;
$page-width--xwide: 80rem;

// ------------------------------------
// Breakpoints
// ------------------------------------

$breakpoints: (
    small: 480,
    medium: 820,
    large: 1100,
    wide: 1200,
);

// ------------------------------------
// Typography
// ------------------------------------

$font: 'Arvo', 'Helvetica', sans-serif;
$font--secondary: 'Arvo', 'Helvetica', sans-serif;

// ------------------------------------
// Lineheight
// ------------------------------------

$lineheight: 1.8;
$lineheight--small: 1.7;
