@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);@charset "UTF-8";
/**
 * OBOS Styles
 * By Netlife Research
 * ---------------------------
 * https://github.com/netliferesearch/obos-styles
 * ------------------------------------------
 */
/*
Variables
*/
/*

OBOS Merkevarehåndbok

*/
/*
Tools

Code used by the other components and helper classes.

*/
/*
rem-calc($size)
Convert px to rem.
$size - The px size
*/
/*
Base

Styling of default html elements.

*/
html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  min-height: 100%;
  background: #efefef; }

::-moz-selection {
  background: #71baff; }

::selection {
  background: #71baff; }

::-moz-selection {
  background: #71baff; }

*:focus {
  outline-offset: 5px;
  outline-color: #ccc; }

/*
@font-face {
    font-family: 'gordita';
    src: url('/fonts/gordita/gorditaregular-webfont.eot');
    src: url('/fonts/gordita/gorditaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gordita/gorditaregular-webfont.woff2') format('woff2'),
         url('/fonts/gordita/gorditaregular-webfont.woff') format('woff'),
         url('/fonts/gordita/gorditaregular-webfont.ttf') format('truetype'),
         url('/fonts/gordita/gorditaregular-webfont.svg#gorditaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
*/
html {
  font-size: 100%; }

body {
  font-family: "Arvo", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #333; }

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
.info--large .info__value,
.info--huge .info__value,
.info__value {
  font-family: "Arvo", "Helvetica", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.5; }
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small, .info--large .info__value small, .info--huge .info__value small, .info__value small {
    display: block;
    color: #777; }

h1,
.h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem; }
  @media (min-width: 30rem) {
    h1,
    .h1 {
      margin-top: 0;
      font-size: 2.00rem; } }
  @media (min-width: 45rem) {
    h1,
    .h1 {
      font-size: 2.50rem; } }

h2,
.info--large .info__value,
.info--huge .info__value,
.h2 {
  font-size: 1.33rem;
  font-weight: 400;
  margin-top: 2rem; }
  @media (min-width: 45rem) {
    h2,
    .info--large .info__value,
    .info--huge .info__value,
    .h2 {
      font-size: 1.5rem; } }
  h2:first-child,
  .info--large .info__value:first-child,
  .info--huge .info__value:first-child,
  .h2:first-child {
    margin-top: 0; }

h3,
.info__value,
.h3 {
  font-size: 1.1rem; }
  @media (min-width: 30rem) {
    h3,
    .info__value,
    .h3 {
      font-size: 1.25rem; } }

h4,
.h4 {
  font-size: 1rem; }
  @media (min-width: 30rem) {
    h4,
    .h4 {
      font-size: 1.1rem; } }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem;
  text-transform: uppercase; }

p, .info__title, .info--list .info__value,
ul,
ol,
dl,
pre,
blockquote,
table {
  margin-top: 0;
  margin-bottom: 1.5em; }

p, .info__title, .info--list .info__value {
  font-size: inherit;
  line-height: 1.8; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

dd + dt,
li {
  margin-top: 0.5em; }

blockquote > p, blockquote > .info__title, .info--list blockquote > .info__value {
  margin-bottom: 0; }

blockquote > cite {
  display: block;
  font-size: 0.85rem; }

q {
  font-style: italic;
  quotes: '\AB' '\BB' '\2018' '\2019'; }

address {
  font-style: normal; }

hr {
  border: 0;
  height: 1px;
  background-color: #ccc; }

small {
  font-size: 0.75em;
  line-height: 1.3em; }

a, .link {
  color: #333;
  text-decoration: none;
  background-image: linear-gradient(to top, transparent, transparent 0px, #333 0px, #333 1px, transparent 1px);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  transition: background-image 200ms ease; }
  a:hover, a:focus, .link:hover, .link:focus {
    color: #2779C5;
    background-image: linear-gradient(to top, transparent, transparent 0px, #2779C5 0px, #2779C5 1px, transparent 1px); }
  a:active, .link:active {
    color: #2779C5; }
  a::-moz-selection, .link::-moz-selection {
    text-shadow: -1px -1px 0 #71baff, 1px -1px 0 #71baff, -1px 1px 0 #71baff, 1px 1px 0 #71baff; }
  a::selection, .link::selection {
    text-shadow: -1px -1px 0 #71baff, 1px -1px 0 #71baff, -1px 1px 0 #71baff, 1px 1px 0 #71baff; }

.link--white {
  color: #fff; }
  .link--white:hover, .link--white:focus {
    border-bottom-color: #fff; }

/*
Blocks

Design components, seperated as blocks.

*/
.card {
  background: #fff; }
  @media (min-width: 45rem) {
    .card {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: stretch;
          align-items: stretch; } }
  @media (min-width: 62.5rem) {
    .card {
      min-height: 90vh; } }
  .card__visual {
    background: #71baff;
    position: relative; }
    @media (min-width: 45rem) {
      .card__visual {
        position: relative;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        max-width: 33.33%; } }
    @media (min-width: 62.5rem) {
      .card__visual {
        min-height: 90vh; } }
    .card__visual:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1); }
  .card__content {
    padding: 1.8rem 1rem 1.8rem 1rem; }
    @media (min-width: 45rem) {
      .card__content {
        padding: 1.8rem;
        -ms-flex-preferred-size: 66.66%;
            flex-basis: 66.66%;
        max-width: 66.66%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; } }
    @media (min-width: 62.5rem) {
      .card__content {
        min-height: 90vh; } }
  .card__text-frame {
    max-width: 37rem; }
  @media (min-width: 45rem) {
    .card--flip .card__visual {
      -ms-flex-order: 2;
          order: 2;
      -ms-flex-preferred-size: 66.66%;
          flex-basis: 66.66%;
      max-width: 66.66%; }
    .card--flip .card__content {
      -ms-flex-order: 1;
          order: 1;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
      max-width: 33.33%; } }
  @media (min-width: 62.5rem) {
    .card--triple {
      min-height: auto; } }
  .card--triple .card__content {
    background: #333;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media (min-width: 45rem) {
      .card--triple .card__content {
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        max-width: 33.33%;
        display: block;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem; } }
    @media (min-width: 62.5rem) {
      .card--triple .card__content {
        min-height: auto; } }
    .card--triple .card__content:first-child {
      background: #444; }
    .card--triple .card__content:last-child {
      background: #222; }

.info {
  display: block;
  margin-bottom: 1rem; }
  .info__title {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600; }
  .info__value {
    font-weight: 400;
    display: block;
    margin-bottom: 0; }
  .info--list {
    margin: 0; }
    .info--list .info__title {
      display: inline;
      font-weight: normal; }
      .info--list .info__title:after {
        content: ':'; }
    .info--list .info__value {
      font-weight: bold;
      display: inline; }
  .info--large .info__value, .info--huge .info__value {
    margin: 0;
    color: #2779C5; }

.info-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin: -1rem;
  margin-bottom: 1.8rem; }
  .info-list__item {
    padding: 1rem;
    margin: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
    @media (min-width: 30rem) {
      .info-list__item {
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        max-width: 33.33%; } }
    .info-list__item--large {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      max-width: 100%; }

.visual {
  display: block; }
  @media (min-width: 45rem) {
    .visual {
      position: absolute;
      width: 100%;
      height: 100%; } }
  .visual__image {
    display: block;
    width: 100%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4); }
    @media (min-width: 45rem) {
      .visual__image {
        position: absolute;
        height: 100%;
        object-fit: cover; } }
