@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);@charset "UTF-8";
/**
 * OBOS Styles
 * By Netlife Research
 * ---------------------------
 * https://github.com/netliferesearch/obos-styles
 * ------------------------------------------
 */
/*
Variables
*/
/*

OBOS Merkevarehåndbok

*/
/*
Tools

Code used by the other components and helper classes.

*/
/*
rem-calc($size)
Convert px to rem.
$size - The px size
*/
/*
Base

Styling of default html elements.

*/
html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  min-height: 100%;
  background: #fff; }

::-moz-selection {
  background: #ff9894; }

::selection {
  background: #ff9894; }

::-moz-selection {
  background: #ff9894; }

*:focus {
  outline-offset: 5px;
  outline-color: #ccc; }

/*
@font-face {
    font-family: 'gordita';
    src: url('/fonts/gordita/gorditaregular-webfont.eot');
    src: url('/fonts/gordita/gorditaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gordita/gorditaregular-webfont.woff2') format('woff2'),
         url('/fonts/gordita/gorditaregular-webfont.woff') format('woff'),
         url('/fonts/gordita/gorditaregular-webfont.ttf') format('truetype'),
         url('/fonts/gordita/gorditaregular-webfont.svg#gorditaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
*/
html {
  font-size: 100%; }

body {
  font-family: "Arvo", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #333; }

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
.info--large .info__value,
.info--huge .info__value,
.info__value {
  font-family: "Arvo", "Helvetica", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.5; }

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem; }
  @media (min-width: 30rem) {
    h1 {
      margin-top: 0;
      font-size: 2.00rem; } }
  @media (min-width: 51.25rem) {
    h1 {
      font-size: 2.50rem; } }

h2,
.info--large .info__value,
.info--huge .info__value,
.h2 {
  font-size: 1.33rem;
  font-weight: 500;
  margin-top: 2rem; }
  @media (min-width: 30rem) {
    h2,
    .info--large .info__value,
    .info--huge .info__value,
    .h2 {
      font-size: 1.50rem; } }
  h2:first-child,
  .info--large .info__value:first-child,
  .info--huge .info__value:first-child,
  .h2:first-child {
    margin-top: 0; }

h3,
.info__value,
.h3 {
  font-size: 1.1rem; }
  @media (min-width: 30rem) {
    h3,
    .info__value,
    .h3 {
      font-size: 1.25rem; } }

h4,
.h4 {
  font-size: 1rem; }
  @media (min-width: 30rem) {
    h4,
    .h4 {
      font-size: 1.1rem; } }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem;
  text-transform: uppercase; }

p, .info__title, .info--list .info__value,
ul,
ol,
dl,
pre,
blockquote,
table {
  margin-top: 0;
  margin-bottom: 1.5em; }

p, .info__title, .info--list .info__value {
  font-size: inherit;
  line-height: 1.8; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

dd + dt,
li {
  margin-top: 0.5em; }

blockquote > p, blockquote > .info__title, .info--list blockquote > .info__value {
  margin-bottom: 0; }

blockquote > cite {
  display: block;
  font-size: 0.85rem; }

q {
  font-style: italic;
  quotes: '\AB' '\BB' '\2018' '\2019'; }

address {
  font-style: normal; }

hr {
  border: 0;
  height: 1px;
  background-color: #ccc; }

small {
  font-size: 0.85rem;
  line-height: 1.3rem; }

a, .link {
  color: #333;
  text-decoration: none;
  border-bottom: 4px solid #ccc;
  transition: border 200ms ease; }
  a:hover, a:focus, .link:hover, .link:focus {
    color: #d5312a;
    border-bottom-color: #d5312a; }
  a:active, .link:active {
    color: #d5312a;
    border-bottom-color: #d5312a; }

.link--white {
  color: #fff; }
  .link--white:hover, .link--white:focus {
    border-bottom-color: #fff; }

/*
Blocks

Design components, seperated as blocks.

*/
.page {
  display: block;
  max-width: 37rem;
  margin: 0 auto;
  padding: 3.6rem 1rem; }

.info {
  display: block;
  margin-bottom: 1rem; }
  .info__title {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600; }
  .info__value {
    font-weight: 400;
    display: block;
    margin-bottom: 0; }
  .info--list {
    margin: 0; }
    .info--list .info__title {
      display: inline;
      font-weight: normal; }
      .info--list .info__title:after {
        content: ':'; }
    .info--list .info__value {
      font-weight: bold;
      display: inline; }
  .info--large .info__value, .info--huge .info__value {
    margin: 0;
    color: #d5312a; }

.info-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin: -1rem;
  margin-bottom: 1.8rem; }
  .info-list__item {
    padding: 1rem;
    margin: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%; }
    @media (min-width: 30rem) {
      .info-list__item {
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        max-width: 33.33%; } }
    .info-list__item--large {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      max-width: 100%; }
