.image-wrapper {
  margin: $spacing--large (-$spacing);
  @include breakpoint(medium) {
    margin: $spacing--xlarge -20%;
  }
  @include breakpoint(large) {
    margin: $spacing--xlarge -20%;
  }
  &__image {
    width: auto;
    max-width: 100%;
    margin-bottom: $spacing;
  }

  &__caption {
    @extend small;
    //font-style: italic;
    padding: 0 $spacing;
    @include breakpoint(medium) {
      padding: 0;
      max-width: 45em;
    }
  }

  &--vertical {
    display: block;
    width: 66%;
    @include breakpoint(medium) {
      width: 66%;
      margin-left: 0%;
    }
    .image-wrapper__image {
      margin-left: $spacing;
      @include breakpoint(medium) {
        margin-left: 0;
      }
    }
  }

  &--large {
    @include breakpoint(large) {
      margin: $spacing--xlarge -40%;
    }
  }

  &--small {
    @include breakpoint(large) {
      margin: $spacing--xlarge 0%;
    }
  }

  &--float-left {
    @include breakpoint(medium) {
      width: 50%;
      float: left;
      margin: 0 $spacing--large $spacing--large -20%;
    }
    @include breakpoint(large) {
      width: 66%;
      float: left;
      margin: 0 $spacing--large $spacing--large -50%;
    }
  }
  &--inside-section {
    @include breakpoint(medium) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @include breakpoint(large) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
