.info-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -$spacing;
  margin-bottom: $spacing--large;
  &__item {
    padding: $spacing;
    margin: 0;
    flex-basis: 50%;
    max-width: 50%;
    @include breakpoint(small) {
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
    &--large {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
