.page {
  background: $color__white;
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  @include breakpoint(large) {
    min-height: 90vh;
  }
  &__visual {
    background: $color__secondary--light;
    position: relative;
    @include breakpoint(medium) {
      position: relative;
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
    @include breakpoint(large) {
      min-height: 90vh;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    }
  }
  &__content {
    padding: $spacing--large $spacing $spacing--large $spacing;
    @include breakpoint(medium) {
      padding: $spacing--large;
      flex-basis: 66.66%;
      max-width: 66.66%;
      display: flex;
      align-items: center;
    }
    @include breakpoint(large) {
      min-height: 90vh;
    }
  }
  &__text-frame {
    max-width: $page-width;
  }
  &--flip {
    @include breakpoint(medium) {
      .page__visual {
        order: 2;
        flex-basis: 66.66%;
        max-width: 66.66%;
      }
      .page__content {
        order: 1;
        flex-basis: 33.33%;
        max-width: 33.33%;
      }
    }
  }
  &--triple {
    @include breakpoint(large) {
      min-height: auto;
    }
    .page__content {
      background: $color__black;
      color: $color__white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include breakpoint(medium) {
        flex-basis: 33.33%;
        max-width: 33.33%;
        display: block;
        padding-top: $spacing--xlarge;
        padding-bottom: $spacing--xlarge;
      }
      @include breakpoint(large) {
        min-height: auto;
      }
      &:first-child {
        background: $color__black--light;
      }
      &:last-child {
        background: $color__black--dark;
      }
    }
  }
}
