.visual {
  display: block;
  @include breakpoint(medium) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__image {
    display: block;
    width: 100%;
    @include breakpoint(medium) {
      position: absolute;
      height: 100%;
      object-fit: cover; // Need polyfill for IE
    }
  }
}
